<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>show</title>
    <script type="text/javascript" src="//unpkg.com/vue"></script>
    <script>
        Vue.component('button-counter', {
            data: function () {
                return {
                count: 0
                } 
            },
            template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
            })
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    <%- css %>
    <%- js %>
</head>

<body>
    <%- html %>
        <!-- <script>
  
                window.parent.postMessage({
                cmd: 'returnJson'
            }, '*');
            window.addEventListener("message", function (event) {
                var data = event.data;
                switch (data.cmd) {
                    case 'getJson':
                    console.log(333);
                    // document.write(data.view);
                    window.location.reload(true);
                        break;
                }
                // 根据上面制定的结构来解析iframe内部发回来的数据

            }, false);
        </script> -->
</body>

</html>